
@{
    ViewData["Title"] = "GetPlanetById";
}

@model SWAPI.Models.ViewModels.GetPlanetByIdViewModel


    <div class="container">
        <h1>Name: @Model.name</h1>
        <h1>Rotation Period: @Model.rotation_period</h1>
        <h1>Orbital Period: @Model.orbital_period</h1>
        <h1>Climate: @Model.climate</h1>
        <h1>Gravity: @Model.gravity</h1>
        <h1>Terrain: @Model.terrain</h1>


    </div>

